@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing:border-box;
}
/*Font classes*/
.font-nunito{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-righteous{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-notoSans{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html{scroll-behavior: smooth; overflow-x:hidden;}
body{margin:0;overflow-x:hidden;}
.large-spacing{height:15rem;}
.medium-spacing{height:6rem;}

/*Section 1a: Navigation Bar*/
.nav{
    margin:0;
    padding: 2%;
    display: flex;
    justify-content:flex-end;
}
.nav .links{
    width:50%;
    display:flex;
    justify-content:space-evenly;
}
.nav .links .line{
    user-select:none;
}
.nav a{
    font-size:1.3rem;
    color:black;
    text-decoration: none;
    font-family:sans-serif;
}
/*Section 1a: Mobile Navigation Bar*/
@media screen and (max-width: 600px){
    .nav{display:none;}
}

/*Section 2a: Introductions*/
.intro-container{
    display:block;
}
.intro-container .intro1{
    display:flex;
    justify-content:center;
    margin-bottom:5%;
    position:relative;
}
.intro-container .intro1 img{max-width:100%; } 
.intro-container .intro1 h1{
    position:absolute;
    color:white;
    bottom:49%;
    z-index:2;
    user-select:none;
    font-size:5rem;
}
.intro-container .intro2{
    display:flex;
    width:100%;
    justify-content:space-evenly;
    align-items:center;
}
.intro-container .intro2 .intro-text{
    width:35%;
    height:min-content;
}
.intro-container .intro2 .intro-text h1{
    text-align:center;
    font-size:5rem;
    margin:0;
}
.intro-container .intro2 .intro-text p{width:100%; font-size:1.2rem; line-height:140%;}
.intro-container .intro2 img{max-width:45%;}
/*Section 2a: Mobile Introductions*/
@media screen and (max-width: 650px){
    .medium-spacing{height:2rem;}
    .large-spacing{height:4rem;}
    .intro-container .intro1 h1{font-size:4rem;}
    .intro-container .intro2{flex-direction: column;}
    .intro-container .intro2 .intro-text{width:80%;}
    .intro-container .intro2 .intro-text h1{font-size:3.5rem;}
    .intro-container .intro2 img{max-width:80%;}
}

/*Section 2b: About*/
.about-container{
    margin: 0 auto 0 auto;
    width:90%;
    align-self:center;
    padding:2%;
    height:min-content;
    font-size:1.2rem;
    line-height:140%;
}
.mission-container{
    margin: 0 auto 0 auto;
    width:90%;
    align-self:center;
    padding:2%;
    height:min-content;
    font-size:1.2rem;
    line-height:140%;
}

/*Section 3a: Sponors*/
.sponsors-container{
    display:flex;
    flex-direction:row;
    height:22rem;
    align-items:center;
}
.sponsors-container #sponsor-title{
    font-weight:900;
    width:35%;
    height:45;
    text-align:center;
    font-size:4.8rem;
}
/*TODO: Change sponsors to be scroll like mobile*/
.sponsors-container .sponsor-images{
    width:auto;
    height:100%;
    display:flex;
    flex-flow:row wrap;
}
.sponsors-container .sponsor-images img{
    max-width: 20rem;
    max-height: 30rem;
    margin:0 1% 1% 0;
}

/*Section 3a: Mobile Sponsors*/
@media screen and (max-width: 650px){
    .sponsors-container{
        flex-direction:column;
        text-align:center;
    }
    .sponsors-container #sponsor-title{width:100%;}
    .sponsors-container .sponsor-images{
        flex-flow:row;
        height:45%;
        width:100%;
        overflow-x:scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .sponsors-container .sponsor-images img{margin:0 2% 0 2%;}
}

/*Section 4a: Footer*/
footer{
    display:flex;
    position:relative;
    justify-content:space-between;
    bottom:0;
    width: 100%;
    height: 10%;
    display: flex;
    background-color:rgb(21, 17, 17);
}

footer h1{
    position:relative;
    padding-left:1%;
    color:white;
    font-size:2.3rem;
}
footer .social-media{
    position:relative;
    right:0;
    width:min-content;
    padding-right:3%;
    display:flex;
    align-items:center;
}
footer .social-media a{
    color:white;
    text-decoration:none;
    padding-right:6%;
    font-size:1.2rem;
}
footer .social-media img{
    max-width:3rem;
}
/*Section 4a: Mobile Footer*/
@media screen and (max-width: 650px){
    footer{position:relative;}
    footer h1{font-size:1.5rem;}
    footer .social-media a{font-size:1rem;}
}
