*{
    box-sizing:border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.font-nunito{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
.font-newAmsterdam{
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: regular;
}

body{margin:0;}
.spacing{
    height:20vh;
}
/*Section 1a: Navigation Bar*/
.nav{
    background-color:rgb(246, 246, 246);
    margin:0;
    padding: 2%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.nav .links{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.nav a{
    color:black;
    text-decoration: none;
    font-size: 2rem;
}

/*Section 2a: Introductions*/
.intro-container{
    display:block;
}
.intro-container .intro1{
    display:flex;
    justify-content:center;
    margin-bottom:5%;
}
.intro-container .intro1 img{max-width:100%; } 
.intro-container .intro1 h1{
    position:absolute;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:6rem;
    bottom:5%;
    z-index:2;
}
.intro-container .intro2{
    display:flex;
    width:100%;
    justify-content:space-evenly;
}
.intro-container .intro2 .intro-text{
    width:35%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.intro-container .intro2 .intro-text h1{
    text-align:center;
    font-size:2.6rem;
}
.intro-container .intro2 .intro-text p{
    font-size:1.2rem;
    width:100%;
    line-height: 160%;
}
.intro-container .intro2 img{max-width:45%;}

/*Section 3a: Sponors*/
.sponsors-container{
    display:flex;
    flex-direction:row;
    height:22rem;
    align-items:center;
}
.sponsors-container #sponsor-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:4rem;
    font-weight:900;
    text-align:center;
    width:35%;
}
.sponsors-container .sponsor-images{
    width:auto;
    height:100%;
    display:flex;
    flex-flow:row wrap;
}
.sponsors-container .sponsor-images img{
    max-width: 20rem;
    max-height: 30rem;
    margin:0 1% 1% 0;
}
/*Section 4a: Footer*/
footer{
    display:flex;
    position:relative;
    justify-content:space-between;
    bottom:0;
    width: 100%;
    height: 10%;
    display: flex;
    background-color:rgb(21, 17, 17);
}

footer h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2rem;
    color:white;
}
footer .social-media{
    position:relative;
    right:0;
    width:12%;
    align-content:center;
}
footer .social-media a{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:none;
}
footer .social-media img{
    max-width:3rem;
}

